<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

</head>
<body>
	<div id="result"></div>
	<form id="signIn" action="/member/signin" method="post">
		<table>
			<tr>
				<td>email</td>
				<td><input type="text" name="username" value="test@taeu.com"/></td>
			</tr>
			<tr>
				<td>password</td>
				<td><input type="text" name="password" value="12345"/></td>
			</tr>
			<tr>
				<td colspan="2">
					<button type="submit">로그인</button>
				</td>
			</tr>
			<tr>
				<td colspan="2"><a href="/member/oauth2/authorize/google">구글</a></td>
			</tr>
		</table>
	</form>
</body>
</html>