<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script type="text/javascript">
	$.fn.serializeArrayToJson = function() {
		var returnArray = {};
		var serializeArray = this.serializeArray();
		
		for (var i = 0; i < serializeArray.length; i++) {
			returnArray[serializeArray[i]['name']] = serializeArray[i]['value'];
		}
		
		return returnArray;
	}
	$(function() {
		$("#signIn").submit(function(e) {
			event.preventDefault();
			// serialize는 form의 <input> 요소들의 name이 배열형태로 그 값이 인코딩되어 URL query string으로 하는 메서드
			//let queryString = $(this).serialize();
			  var data = {
						    "grant_type": "password",
						    "username": "lteawoo@naver.com",
						    "password":"12345",
						    "client_id":"taeuClient",
						    "client_secret":"taeuSecret"
						  }  
			console.log(data);
			$.ajax({
				url: "/oauth/token",
				type: "POST",
				//headers: {"Authorization:" : "Basic taeuClient:taeuSecret"},
				contentType: "application/x-www-form-urlencoded",
				data: data,
				success: function(result) {
					$("#result").html(result.access_token + ", " + result.refresh_token + ", " + result.expires_in);
				},
				error: function(result) {
					$("#result").html(result.responseText);
				}
			});
		});
	})
</script>
</head>
<body>
	<div id="result"></div>
<!-- 	<form id="signIn" action="/oauth/token" method="post"> -->
		<form id="signIn" method="post">
		<table>
			<tr>
				<td>email</td>
				<td><input type="text" name="username" value="test@taeu.com"/></td>
			</tr>
			<tr>
				<td>password</td>
				<td><input type="text" name="password" value="12345"/></td>
			</tr>
			<tr>
				<td colspan="2">
					<button type="submit">로그인</button>
				</td>
			</tr>
			<tr>
				<td><a href="/member/signin/oauth2/authorization/google">구글</a></td>
				<td><a href="/member/signin/oauth2/authorization/taeu">taeu</a></td>
			</tr>
			<tr>
				<td colspan="2"><a href="/member/signup">가입</a></td>
			</tr>
		</table>
	</form>
</body>
</html>