<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script type="text/javascript">
	$.fn.serializeArrayToJson = function() {
		var returnArray = {};
		var serializeArray = this.serializeArray();
		
		for (var i = 0; i < serializeArray.length; i++) {
			returnArray[serializeArray[i]['name']] = serializeArray[i]['value'];
		}
		
		return returnArray;
	}
	$(function() {
		$("#signForm").submit(function(e) {
			event.preventDefault();
			// serialize는 form의 <input> 요소들의 name이 배열형태로 그 값이 인코딩되어 URL query string으로 하는 메서드
			//let queryString = $(this).serialize();
			var jsonData = JSON.stringify($(this).serializeArrayToJson());
			console.log(jsonData);
			$.ajax({
				url: "/member/signup",
				type: "POST",
				dataType: "json",
				contentType: "application/json;charset=UTF-8",
				data: jsonData,
				success: function(result) {
					$("#result").html(result.responseText);
				},
				error: function(result) {
					$("#result").html(result.responseText);
				}
			});
		});
	})
</script>
</head>
<body>
	<div id="result"></div>
	<form id="signForm" action="/member/signup">
		<table>
			<tr>
				<td>email</td>
				<td><input type="text" name="email" value="test@taeu.com"/></td>
			</tr>
			<tr>
				<td>password</td>
				<td><input type="text" name="password" value="12345"/></td>
			</tr>
				<td>role</td>
				<td><input type="text" name="role" value="MEMBER"/></td>
			<tr>
				<td colspan="2">
					<button type="submit">등록</button>
				</td>
		</table>
	</form>
</body>
</html>