<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
<script type="text/javascript">
	$.fn.serializeToArray = function() {
		var returnArray = {};
		var serializeArray = this.serializeArray();
		
		for (var i = 0; i < serializeArray.length; i++) {
			returnArray[serializeArray[i]['name']] = serializeArray[i]['value'];
		}
		
		return returnArray;
	}
	$(function() {
		$("#signIn").submit(function(e) {
			event.preventDefault();
			
// 			var data = $(this).serializeToArray();
// 			data["grant_type"] = "password";
			var data = JSON.stringify($(this).serializeToArray());
			
			console.log(data);
			$.ajax({
// 				url: "/oauth/token",
// 				type: "POST",
// 				headers: {'Authorization': 'Basic dGFldUNsaWVudDp0YWV1U2VjcmV0'},
// 				contentType: "application/x-www-form-urlencoded",
// 				data: data,
				url: "/member/signin",
				type: "POST",
				contentType: "application/json;charset=UTF-8",
				data: data,
				success: function(result) {
					success(result);
				},
				error: function(result) {
					$("#result").html(result.responseText);
				}
			});
		});
	})
	
	function success(result) {
		console.log(result);
		
		$.ajax({
			url: "/member/resource/signsuccess",
			type: "GET",
			headers: {'Authorization': 'bearer ' + result.access_token},
			dataType : 'text',
			success: function(result) {
				//$("#result").html(result);
				console.log(result);
				window.location.href = "/member"
			},
			error: function(result) {
				$("#result").html(result.responseText);
			}
		});
	}
</script>
</head>
<body>
	<div id="result"></div>
<!-- 	<form id="signIn" action="/oauth/token" method="post"> -->
		<form id="signIn" method="post">
		<table>
			<tr>
				<td>email</td>
				<td><input type="text" name="email" value="test@taeu.com"/></td>
			</tr>
			<tr>
				<td>password</td>
				<td><input type="text" name="password" value="12345"/></td>
			</tr>
<!-- 			<tr> -->
<!-- 				<td>email</td> -->
<!-- 				<td><input type="text" name="username" value="test@taeu.com"/></td> -->
<!-- 			</tr> -->
<!-- 			<tr> -->
<!-- 				<td>password</td> -->
<!-- 				<td><input type="text" name="password" value="12345"/></td> -->
<!-- 			</tr> -->
			<tr>
				<td colspan="2">
					<button type="submit">로그인</button>
				</td>
			</tr>
			<tr>
				<td><a href="/member/signin/oauth2/authorization/google">구글</a></td>
				<td><a href="/member/signin/oauth2/authorization/taeu">taeu</a></td>
			</tr>
			<tr>
				<td colspan="2"><a href="/member/signup">가입</a></td>
			</tr>
		</table>
	</form>
</body>
</html>